
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* css reset */

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

.cf {
    zoom: 1;
}

/* -----------clear fixed------------ */

body{
    background-color: #090B1A;
    font-family: sans-serif;
}

.header{
    width: 1000px;
    height: 400px;
    margin: 50px auto;
    border-radius: 5px;
}

.header p{
    margin-top: 15px;
    padding-top: 10px;
    padding-bottom: 30px;
}

.head{
    width: 400px;
    height: 300px;
    background-color: #1B1938;
    padding: 50px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.main-tance{
    margin-top: 40px;
}

.draft-one{
    position: relative;
}

.draft-one p{
    display: inline;
    color: #FDFDFD;
    padding-right: 70px;
    font-size: 25px;
    font-weight: bold;
}

.draft-two {
    margin-top: 5px;
}

.draft-two p{
    display: inline;
    color: #BDC2C6;
    font-size: 12px;
}

.one{
    padding: 0;
}

.two{
    padding-left: 56px;
}

.three{
    padding-left: 44px;
}

h1{
    color: #FDFDFD;
    font-size: 30px;
}

p{
    color: #BDC2C6;
    font-size: 15px;
}

span{
    color: #AA5CDB;
    text-shadow: 3px 2px 5px #AA5CDB;
}

img{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    position: relative;
    left: 500px;
    bottom: 400px;
}