@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;300;400;500;600;700;800;900&display=swap');
/* font-family: 'Barlow', sans-serif; */

:root{
    --primary: #F16718;
    --font: #010101;
    --background: #fff8f2;
    --second: #E8EFF2;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

p, a, h1, h3{
    color: var(--font);
}

span{
    color: var(--primary);
    font-weight: 600;
}

body{
    font-family: 'Barlow', sans-serif;
    background-color: var(--background);
    color: var(--font);
}

.god{
    margin: 2rem 5rem 0rem 5rem;
    background-color: var(--background);
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .corp img{
    width: 2.6rem;
    height: 2.6rem;
}

.navbar .cart{
    background-color: var(--second);
    height: 4rem;
    width: 13rem;
    text-align: center;
    padding-top: 1rem;
    border-radius: 0.3rem;
    font-weight: 600;
    font-size: 1.2rem;
}

.navbar .cart:hover{
    background-color: #b5babd;
}

/* Media Queries */

/* Laptop */
@media (max-width: 1366px){
    html{
        font-size: 75%;
    }
    .navbar .cart{
        height: 3rem;
        width: 11rem;
        font-size: 1rem;
        padding-top: 0.9rem;
    }
    .navbar .corp img{
        width: 80%;
        height: 80%;
    }
}

/* Tablet */
@media (max-width: 768px){
    html{
        font-size: 62.5%;
    }
    .navbar .cart{
        height: 3rem;
        width: 11rem;
        font-size: 1rem;
        padding-top: 0.9rem;
    }
    .navbar .corp img{
        width: 70%;
        height: 70%;
    }
}

/* Mobile Phone */
@media (max-width: 450px){
    html{
        font-size: 55%;
    }
    .navbar .cart{
        height: 2.5rem;
        width: 10rem;
        font-size: 1rem;
        padding-top: 0.7rem;
    }
    .navbar .corp img{
        width: 60%;
        height: 60%;
    }
}