@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@800&display=swap');
/* font-family: 'Barlow', sans-serif; */

body{
    margin: 0;
    padding: 0;
}

.god{
    width: 86%;
    height: auto;
    min-height: 270vh;
    background-color: cornflowerblue;
    margin-left: 7%;
    margin-right: 7%;
    margin-top: 7vh;
    flex-wrap: wrap;
}

.navbar{
    background-color: antiquewhite;
    height: 6.5vh;
    display: flex;
    justify-content: space-between;
}

.cart{
    width: 25vh;
    height: auto;
    justify-content: center;
    text-align: center;
    background-color: #F16718;
    padding-top: 2vh;
    border-radius: 1vh;
}

.cart a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.5);
}

.container{
    height: 70vh;
    width: auto;
    display: flex;
    justify-content: space-between;
}

.head{
    width: 60vh;
    padding-top: 10vh;
}

.head h1{
    font-size: 50px;
    line-height: 8vh;
    font-family: 'Barlow', sans-serif;
}

.head p{
    margin-top: -1vh;
    font-size: 13px;
    line-height: 3.5vh;
    opacity: 60%;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.head-cart{
    margin-top: 5vh;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.head-cart-0 {
    width: 26vh;
    padding-top: 2vh;
    height: 5vh;
    border-radius: 1.2vh;
    background-color: #F16718;
}

.head-cart-0 a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.5);
    font-family: 'Barlow', sans-serif;
}

.head-cart-1 {
    width: 26vh;
    padding-top: 2vh;
    height: 5vh;
    border-radius: 1.2vh;
}

.head-cart-1 a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.550);
    font-family: 'Barlow', sans-serif;
}

.kboard img{
    height: 70vh;
    width: 85vh;
    border-radius: 3vh;
}

.design{
    position: absolute;
    right: 0;
}