body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: aqua;    
}

a{
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    color: antiquewhite;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 24px;
    overflow: hidden;
    transition: 0.2s;
}
a:hover{
    color: aquamarine;
    background-color: cadetblue;
    box-shadow: 0 0 10px darkcyan, 0 0 20px darkcyan, 0 0 40px darkcyan, 0 0 80px darkcyan, 0 0 120px darkcyan, 0 0 180px darkcyan;
    transition-delay: 0.2s;
}
a span{
    position: absolute;
    display: block;
}
a span:nth-child(1){
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: linear-gradient(90deg,transparent,cadetblue);
}