body{
    background-color: #ECF2F8;
    font-family: sans-serif;
    color: #5e6f8a;
}

.container{
    width: 910px;
    height: 350px;
    background-color: white;
    margin: 50px auto;
    border-radius: 5px;
    display: block;
}

.img-main{
    width: 350px;
    height: 350px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.header{
    width: 420px;
    position: absolute;
    display: inline;
    padding-left: 50px;
    padding-top: 35px;
}

.header p{
    font-size: 17px;
    color: #828c9c;
    font-weight: 500;
}

.profile{
    display: flex;
    padding-top: 25px;
}

.profile img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.main-profile{
    margin-top: -10px;
    padding-left: 15px;
}


h1{
    font-size: 25px;
    color: #48556A;
}

h3{
    font-size: 15px;
}

.icons{    
    margin-left: 300px;
    padding-bottom: 50px;
}

.main-profile img{
    position:absolute;
    width: 40px;
    height: 40px;
    padding-left: 300px;
    margin-top: -65px;
    opacity: 70%;
}